[submodule "Microservices/sigoms-gnormas"]
	path = Microservices/sigoms-gnormas
	url = git@github.com:FranciscoGuilherme/sigoms-gnormas.git

[submodule "Microservices/sigoms-consultoria"]
	path = Microservices/sigoms-consultoria
	url = git@github.com:FranciscoGuilherme/sigoms-consultoria.git

[submodule "Microservices/sigoms-gpindustrial"]
	path = Microservices/sigoms-gpindustrial
	url = git@github.com:FranciscoGuilherme/sigoms-gpindustrial.git

[submodule "Microservices/sigoms-users"]
	path = Microservices/sigoms-users
	url = git@github.com:FranciscoGuilherme/sigoms-users.git

[submodule "Frontend"]
	path = Frontend
	url = git@github.com:FranciscoGuilherme/Frontend.git