# ----------------------------------------------
# ----------------[Dependencies]----------------
# ----------------------------------------------

/node_modules

# ----------------------------------------------
# --------------------[Misc]--------------------
# ----------------------------------------------

.env
Lambda.zip